<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CharmFlyout" version="1.0.12" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="WriteableBitmapEx" version="1.0.7.0" targetFramework="win" />
</packages>