<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="15910a86-e699-40e4-8606-90d4e59c876c"
            Publisher="CN=vinodh"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BillReminder</DisplayName>
    <PublisherDisplayName>vinodh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>BillReminder</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="BillReminder.App">
        <VisualElements 
            DisplayName="BillReminder"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BillReminder"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>