

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
 
.homepage section[role=main] {
    /* Define a grid with rows for the filters and results */
    
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 180px 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: -ms-grid;
}

 
    

    .homepage section[role=main] .resultslist {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 0;
    }

        .homepage section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
            margin-bottom: 60px;
            
            margin-top: 198px;
        }

        .homepage section[role=main] .resultslist .win-container {
            margin-bottom: 10px;
            margin-left: 23px;
            margin-right: 23px;
        }

        .homepage section[role=main] .resultslist .item {
            /* Define a grid with columns for an icon, spacing and item details */
            -ms-grid-columns: 40px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 97px;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 1px;
            width: 280px;
        }

            .homepage section[role=main] .resultslist .item .item-image {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                height: 97px;
                margin-top: 6px;
                width: 61px;
            }

            .homepage section[role=main] .resultslist .item .item-content {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                margin-left: 40px;
            }

                .homepage section[role=main] .resultslist .item .item-content .item-subtitle, .homepage section[role=main] .resultslist .item .item-content .item-description {
                    opacity: 0.6;
                }

                /* Define a style for both selected filters and text matching the query. */
                .homepage section[role=main] .resultslist .item .item-content mark {
                    background: transparent;
                    color: rgba(90, 183, 227, 1);
                }

@media screen and (-ms-view-state: snapped) {
    .homepage header[role=banner] .titlearea {
        -ms-grid-columns: 1fr 20px;
    }

        .homepage header[role=banner] .titlearea .pagetitle {
            margin-top: 0;
        }

    .homepage section[role=main] {
        /* Rows for the filters and the results */
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 30px 1fr;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        display: -ms-grid;
    }

        .homepage section[role=main] .resultsmessage {
            margin-left: 20px;
            margin-top: 36px;
        }

        /* Hide the horizontal list of filters in snapped mode. */
        .homepage section[role=main] .filterarea .filterbar {
            display: none;
        }

        /* Show a <select> list of filters in snapped mode */
        .homepage section[role=main] .filterarea .filterselect {
            display: inline;
            margin-left: 20px;
            margin-top: 2px;
            max-width: calc(100% - 38px);
        }

        .homepage section[role=main] .resultslist {
            height: calc(100% - 30px);
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            margin-top: 30px;
        }

            .homepage section[role=main] .resultslist .win-vertical.win-viewport .win-surface {
                margin-bottom: 60px;
                margin-top: 18px;
            }

            .homepage section[role=main] .resultslist .win-container {
                margin-left: 13px;
                margin-right: 22px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
        margin-left: 70px;
    }
}


.item-content {
    width: 200px;
    margin:10px;
    border:solid;
    border-width:1px;
    border-color:dimgrey;
}

.item{
    width: 220px;
}

.item-title {
    font-family:'Segoe UI';
    font-size:larger;
     margin:3px;
     
}

.item-subtitle {
    font-family:'Segoe UI';
    font-size:medium;
     margin:4px;
     color:darkgray;
}